<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Nothing is Impossible!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="timeline-panel">
                    <div class="timeline-body">
                        <p class="text-muted large">National Martial Arts & Fitness Acadamy (NMFA) has been founded in the year 2013. <br>Come here to
                        learn Karate, Kickboxing, MMA, Muay Thai, Self-Defence, Fitness Training, Kids Fitness, Yoga, Personal Training, Speed,
                        Strength & Conditioning Training. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>