<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <a href="#serviceModalAcademy" class="portfolio-link" data-toggle="modal">
                        <img src="img/services/academy-training-thumbnail.png" class="img-responsive img-centered" alt="Academy Training">
                        <h4 class="service-heading">Academy Training</h4>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#serviceModalPrivateTraining" class="portfolio-link" data-toggle="modal">
                        <img src="img/services/private-training-thumbnail.png" class="img-responsive img-centered" alt="Private Training at Home">
                        <h4 class="service-heading">Private Training at Home</h4>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="portfolio-modal modal fade" id="serviceModalAcademy" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Academy Training</h2>
                            <img src="img/services/academy-training.png" class="img-responsive img-centered" alt="Academy Training">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="serviceModalPrivateTraining" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Private Training at Home</h2>
                            <img src="img/services/private-training.png" class="img-responsive img-centered" alt="Private Training at Home">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>